.pictureblock {
    width:100%;
    height:20em;
    background:url(../assets/fly20100222.jpg);
    background-size:cover;
}

h1 {
    line-height:20em;
    vertical-align:baseline;
    font-family:'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align:center;
}
