.pictureblock {
    width:100%;
}
    .fly {
        background:url(/assets/fly20100222.jpg);
        background-size:cover;
    }
.red {
    background-color:#be4040;
}
.blue {
    background-color:#4078be;
}
.green {
    background-color:#40be4c;
}
.purple {
    background-color:#a540be;
}
.yellow {
    background-color:#f5dd11;
}
