.picture-fly {
    background:url(/assets/fly20100222.jpg);
    background-size:cover;
}
.picture-street {
    background:url(/assets/street-20090108.jpg);
    background-size:cover;
    background-position:center;
}
.white {
    background-color:#fff;
}
.red {
    background-color:#be4040;
}
.blue {
    background-color:#4078be;
}
.green {
    background-color:#40be4c;
}
.purple {
    background-color:#a540be;
}
.yellow {
    background-color:#f5dd11;
}
.dark {
    background-color:#1f1f1f;
}
.light {
    background-color:#f1f1f1;
}
