.pictureblock {
    width:100%;
    margin-bottom:2em;
}
    .fly {
        background:url(../assets/fly20100222.jpg);
        background-size:cover;
    }
.heading {
    margin-top:1em;
	margin-bottom:1em;
    color: #33a0a4;
    width:100%;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
    display: inline-block;
    text-align: center;
}
