/*----------------------------------*\
 * $SAYNOTOCHILLIES
 \*---------------------------------*/

/* Variable */

/* $THEME TEXT COLOUR */
$themecolor: #33a0a4;
$bodythemecolor: #ffffff;
$maxwidth: 832px;
$smalltextmaxwidth: 721px;
$smallelements: 400px;

/* FONTS */
@font-face {font-family: 'Verb';src: url('../assets/fonts/verb.eot');src: url('../assets/fonts/verb.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/verb.woff') format('woff'),url('../assets/fonts/verb.ttf') format('truetype'),url('../assets/fonts/verb.svg#wf') format('svg');}

/* Global max width */
.wrapper{
    position:relative;
    max-width:800px;
    margin:0 auto;
    @media only screen and (max-width:$maxwidth) {
        padding-left:16px;
        padding-right:16px;
    }
}
.nopad {
    padding:0!important;
}
.holder {
    min-height:100%;
    position:relative;
}
/*Global spacing units*/
.spacer1 {
    margin-bottom:1em;
}
.spacer2 {
    margin-bottom:2em;
}
.spacer3 {
    margin-bottom:3em;
}
.lower1 {
    margin-top:1em;
}
.lower2 {
    margin-top:2em;
}
.lower3 {
    margin-top:3em;
}
.raise1 {
    margin-top:-1em;
}
.raise2 {
    margin-top:-2em;
}
.raise3 {
    margin-top:-3em;
}
.shorten1 {
    margin-bottom:-1em;
}
.shorten2 {
    margin-bottom:-2em;
}
.shorten3 {
    margin-bottom:-3em;
}
/*$BODY*/
body {
  background-color:#1f1f1f;
}
body, html {
    height:100%;
}

/* Global floats */
.leftalign {
    float:left;
}

.rightalign {
    float:right;
}

.center {
    margin:0 auto;
    text-align:center;
}

/*Global Padders */
.padleft {
    padding-left:0.5em;
}
.padright {
    padding-right:0.5em;
}

/*Global sizes */
.flexi {
    height:auto;
    padding-top:1.5em;
    padding-bottom:1.5em;
}

.full {
    height:100%;
}

.large {
    display:block;
    height:30em;
    width:100%;
    padding-top:1em;
    @media only screen and (max-width:$smallelements) {
        height:13em;
    }
}

.medium {
    height:15em;
    width:100%;
    padding-top:1em;
    @media only screen and (max-width:$smallelements) {
        height:5.5em;
    }
}

.small {
    height:10em;
    width:100%;
    padding-top:1em;
    @media only screen and (max-width:$smallelements) {
        height:3em;
    }
}

.msquare {
    width:40em;
    padding-top:5em;
    padding-bottom:5em;
        @media only screen and (max-width:$maxwidth) {
            width:90%
        }
        @media only screen and (max-width:$smallelements) {
            padding-top:2em;
            padding-bottom:2em;
            width:70%;
       }
}

.square4 {
    width:12.5em;
    display:inline-block;
    @media only screen and (max-width:$maxwidth) {
        display:inline;
    }
}
.square2 {
    width:24em;
    display:inline-block;
    vertical-align:top;
    @media only screen and (max-width:$maxwidth) {
        display:inline;
    }
}

/* Heading Structure */
h1 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: $themecolor;
    line-height:1.5em;
        @media only screen and (max-width:$smalltextmaxwidth) {
            font-size:1.5em;
}}

h2 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.6em;
    line-height:1.5em;
    color: $themecolor;
        @media only screen and (max-width:$smalltextmaxwidth) {
            font-size:1.2em;
}}

h3 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.2em;
    line-height:2em;
    color: $themecolor;
}


h4 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    line-height:2em;
    @media only screen and (max-width :$smalltextmaxwidth) {
        font-size: 1.2em;
    }
}

h5 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    line-height:1.5em;
    @media only screen and (max-width :$smalltextmaxwidth) {
        font-size: 0.8em;
    }
}
h6 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    line-height:1.5em;
    @media only screen and (max-width :$smalltextmaxwidth) {
        font-size: 0.8em;
    }
}
/* Default paragraph styles */
p {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight:300;
    font-size: 1.2em;
    line-height:2em;
    color: #000;
    @media only screen and (max-width:$smalltextmaxwidth) {
        font-size:1em;
    }
}
.list {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight:300;
    font-size: 1.2em;
    line-height:2em;
    list-style-type: decimal;
    color: #000;
    padding-left:1.5em;
    @media only screen and (max-width:$smalltextmaxwidth) {
        font-size:1em;
    }
}
.lists ol {
    list-style-type: decimal; 
    padding-left:1.9em;
}
.lists p {
    padding-left:1em;
}
.lists li {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight:300;
    font-size: 1.2em;
    line-height:2em; 
    padding-left:0.5em;
    color: $themecolor;
    @media only screen and (max-width:$smalltextmaxwidth) {
        font-size:1em;
    }
}


p a, h2 a, h3 a, h4 a, h5 a, h6 a {
    line-height:inherit;
    color: inherit;
    text-decoration:underline;
}
p a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    line-height:inherit;
    color: inherit;
    text-decoration:none;
}

.quote {
    font-style:italic;
}

/* Default Square Text Styles FitText*/

h9 {
    font-family: 'Verb', Helvetica, sans-serif;
    line-height:1.5em;
    font-size:100px;
}

.twhite {
    color:#FFF;
}
.tlight {
    color:#f2f2f2;
}
.tdark {
    color:#2f2f2f;
}
.ttheme {
    color:$themecolor;
}
.tshadow {
    text-shadow: 0 0 2em #999999;
}
.tleft {
    text-align:left;
    @media only screen and (max-width:$maxwidth) {
        text-align:left;
    }
}
.tright {
    text-align:right;
    @media only screen and (max-width:$maxwidth) {
        text-align:left;
    }
}
.tcenter {
    text-align:center;
    @media only screen and (max-width:$maxwidth) {
        text-align:left;
    }
}
.mobtcenter {
    @media only screen and (max-width:$maxwidth) {
        text-align:center;
    }
}

