/*----------------------------------*\
 * $SONOTOCHILLIES
 \*---------------------------------*/

/* Global max width */
.wrapper{
    max-width:1000px;
    margin:0 auto;
}

/* Global floats */
.leftalign {
    float:left!important;
}

.rightalign {
    float:right!important;
}

