/*----------------------------------*\
 * $SONOTOCHILLIES
 \*---------------------------------*/

/* Variable */

/* $THEME TEXT COLOUR */
$themecolor: #33a0a4;


/* Global max width */
.wrapper{
    max-width:1000px;
    margin:0 auto;
}
.spacer {
    margin-bottom:3em;
}
/* Global bottom margin */
@media only screen and (max-width:1031px) {
    .wrapper {
        padding-left:1em;
        padding-right:1em;
    }
}

body {
}

/* Global floats */
.leftalign {
    float:left!important;
}

.rightalign {
    float:right!important;
}

.center {
    margin:0 auto;
}

/*Global sizes */
.full {
    height:100%;
}

.tall {
    height:25em;
}

.medium {
    height:15em;
}

.small {
    height:8em;
}

/* Heading Structure */
h1 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: $themecolor;
    line-height:1.5em;
        @media only screen and (max-width:615px) {
            font-size:1.5em;
}}

h2 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    line-height:1em;
    color: $themecolor;
        @media only screen and (max-width:615px) {
            font-size:1em;
}}

h3 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1em;
    line-height:1em;
    color: $themecolor;
        @media only screen and (max-width:615px) {
            font-size:0.8em;
}}


h4 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 4em;
    color: rgba(242,242,242,0.3);
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 0.2em;
}

@media only screen and (max-width : 500px) {
    h4 {
        font-size: 3em;
    }
}
/* Default paragraph styles */
p {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight:300;
    font-size: 1.2em;
    line-height:2em;
    color: #000;
    padding-bottom:1em;
}
