/*----------------------------------*\
 * $NAVBAR
 \*---------------------------------*/
/* Get logo in there */
.logo {
   float: left;
}

.logo img {
    padding:0.8em;
    padding-left:0;
    width:4em;
    height:4em;
}

/* Clearfix */
.navfix:before,
.navfix:after {
    content: " ";
    display: table;
}
.navfix:after {
    clear: both;
}
.navfix {
    zoom: 1;
}

/* Basic Styles */
nav {
	width: 100%;
	font-size: 1em;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
    position: relative;
}
nav ul {
	padding: 0;
	float: right;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #33a0a4;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 6em;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
    color:#000;
}
nav a#pull {
	display: none;
}
/* Current menu doesn't need this
Styles for screen 767px and lower
@media screen and (max-width: 767px) {
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
    nav a{
        line-height:3.5em;
    }
  	nav li {
  		width: 50%;
  		float: left;
  	}
    nav li:last-child {
        width:100%;
    }
  	nav li a {
	  	text-align: center;
	  	width: 100%;
        border:none;
  	}
}
*/

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 620px) {

    .logo {
        display:none;
    }
    nav a {
        line-height:4em; 
    }
    nav ul {
        width:100%;
		display: none;
	}
    nav li {
        width: 20%;
        float: left;
    }
    nav li a {
        width: 100%;
    }
	nav a#pull {
		display:table;
        width: 100%;
        line-height:2em;
	}
    nav a#pull img {
        width:4em;
        height:4em;
        padding: 0.8em;
        padding-left:0;
        padding-top:1em; 
    }
    nav a:hover {
        color:#000;
    }
}

/*Smartphone*/
@media only screen and (max-width : 400px) {
    nav ul{
        width:100%;
    }
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
}
