---
layout: default
title: Blog
catagories: blog
---

<div class="theme flexi spacer1 border-top-zigzag border-bottom-zigzag">
    <div class="wrapper"><h2 class="twhite">The blog of sdmix</h2></div>
<div class="lower2 wrapper">
<p class="twhite">You'll find me talking geek here. Expect awesome articles on topics I find of
interest, knowledge that I've learnt and would love to share with you all, plus the
odd random posts on what I'm up to.</p> 
</div>
</div>

<div class="spacer3 wrapper flexi">
<h2 class="spacer1">Get yourself a great British brew!</h2>
<p>Then take a gander at the articles below and have a read!</p>
<div class="spacer1 flexi border-bottom">
<ul>
<li class="blog-list">
{% for post in site.posts %}
{% if post.categories contains 'blog' %}
<p>{{ post.date | date: "%d %B %Y" }}</p>
<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
{% endif %}
{% endfor %}
</li>
</ul>
</div>
</div>
