<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

    <title>Matt Allen - He's also called sdmix in his spare time.</title>
    <link rel="stylesheet" href="/css/itsmattallen.css">
    <link rel="shortcut icon" href="">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic|Open+Sans+Condensed:300,300italic' rel='stylesheet' type='text/css'>

</head
<body>

<div class="pictureblock full fly">

<!-- begin default header bar -->
<div class="headerbar">
    <div class="wrapper">
    <nav class="navfix">
        <ul class="navfix">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/Blog/" style="opacity:0.1;filter:alpha(opacity=10);">Blog</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="http://www.redbubble.com/people/sdmix" target="_blank">Shop</a></li>
        </ul>
        <a id="pull" href="#"><span class="rightalign"><img src="/assets/menu.svg"></span></a>
    </nav>    
</div>
</div>
<img class="logocenter" src="/assets/logo-a.svg">
</div>


<div class="wrapper">
    {{ content }}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
	$(function() {
		var pull 		= $('#pull');
			menu 		= $('nav ul');
			menuHeight	= menu.height();

		$(pull).on('click', function(e) {
			e.preventDefault();
			menu.slideToggle();
		});

		$(window).resize(function(){
        	var w = $(window).width();
        	if(w > 320 && menu.is(':hidden')) {
        		menu.removeAttr('style');
            }
        });
    });
</script>
</body>
