---
layout: default
---
<div class="theme border-top-zigzag flexi">
    <div class="wrapper spacer1" style="margin-top:-1.5em;">
        <ul class="submenu">
            <li><a href="/blog/">Blog Home</a></li>
        </ul>
    </div>
</div>
<!--
<div class="wrapper kudoshide">
<div style="width:100px; float:right; margin-top:1.5em;">
<figure class="kudo kudoable" data-id="1">
    <a href="#kudo" class="count">
        <span class="num"></span>
        <span class="txt spacer1">THINK ITS AWESOME</span>
    </a>
    <a class="kudobject">
        <div class="opening">
            <div class="circle">&nbsp;</div>
        </div>
    </a>
</figure>
</div>
</div>
-->
    {{ content }}
    
<div class="border-top">
<div class="wrapper">
    <div class="square2 padright">
        <h6 class="spacer2 lower1">Thanks for taking the time to read my article, why not leave your opinion below and get involved in the discussion.</h6>
        <div id="disqus_thread" style="padding-bottom: 1em;"><a class="ttheme"></a></div>
    <script type="text/javascript">
        var disqus_shortname = 'itsmattallen';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>  
    </div>
    <div class="square2 padleft">
        <h6 class="tdark lower1 spacer2 tright">Use the links below to share the post to your friends, they would love something to read over a brew!</h6><h3 class="tdark tright spacer2 mobtcenter"><a class="btn-twitter" href="https://twitter.com/intent/tweet?text=Check out @sdmix's blog post: http://itsmattallen.co.uk{{ page.url }} - {{ page.title }}" target="_new">Show some love on Twitter</a></h3><h3 class="tdark tright mobtcenter"><a class="btn-facebook" href="http://www.facebook.com/sharer.php?u=http://itsmattallen.co.uk{{ page.url }}" target="_new">Share this on Facebook</a></h3> 
</div>
</div>
<!--<script src="http://www.parsecdn.com/js/parse-1.2.3.min.js"></script>
<script src="/jq/kudos.js"></script>
<script src="/jq/parse-kudos.js"></script>
<script src="/jq/jstorage.js"></script>-->
</div>
