---
layout: default
---
<div class="theme border-top-zigzag flexi">
    <div class="wrapper spacer1" style="margin-top:-1.5em;">
        <ul class="submenu">
            <li><a href="/blog/">Blog Home</a></li>
        </ul>
    </div>
</div>
<div class="flexi spacer3">
    {{ content }}
</div>
<footer class="border-top shorten2"><div class="wrapper flexi">
    <div class="square2 padright">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'itsmattallen';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>  
    </div>
    <div class="square2 padleft"><h3 class="tdark tright"><a href="https://twitter.com/intent/tweet?text=Check out @sdmix's blog post: http://itsmattallen.co.uk{{ page.url }} - {{ page.title }}" target="_new">Show some love on Twitter</a></h3></div>
</div></footer>
